<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/gotodata" method="POST"> 
    <input type="text" placeholder="user ID" name="userid">
    <input type="password" placeholder="Password" name="password">
     {{#if error}}
     <div style="color: red;">{{error}}</div>
     {{/if}}
    <input type="submit" value="ok">
    </form>

    <script>
        var userid = document.getElementsByTagName("input")[0].value;
        var password = document.getElementsByTagName("input")[1].value;
       
        
    </script>
</body>
</html>